*{
	margin:0;
	padding: 0;
	box-sizing: content-box;
	scroll-behavior: smooth;
}

/*main background*/
body {
	background: rgb(255,255,255);
	background: radial-gradient(circle, 
		rgba(255,255,255,1) 10%,
		rgba(255,255,230,1) 20%, 
		rgba(237,255,255,1) 30%,
		rgba(237,237,255,1) 40%,
		rgba(255,230,240,1) 70%, 
		rgba(230,255,230,1) 80%,
		rgba(255,230,240,1) 90%,
		rgba(240,240,240,1) 100%);
}

/* Font Plug-ins*/
.hfont{
	font-family: 'Playfair Display', serif;
}
.bfont{
	font-family: 'Nanum Gothic', sans-serif;
}


/*---Navbar---------------------------------------*/
/*Navbar Header*/
.navicon1 > i {
	font-size: 	37px;
	color: #FFD12A;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.9);
}
.navicon1 > i:hover{
	color:#FF007C;
}
.navicon2 > i {
	font-size:25px;
	color:#2243B6;
	text-shadow: 1px 2px 1px rgba(0,0,0,0);
}
.navicon2 > i:hover{
	text-shadow: 1px 2px 1px rgba(0,0,0,1);
}
.navbar strong {
	font-size: 24px;
	color: #FFD12A;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.9);
}
.navbar strong:hover{
	color:#FF007C;
}
.nb-shortcut p{
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 21px;
	letter-spacing: 2px;
	color: #FFD12A;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.9);
}
.nb-shortcut p:hover{
	color:#8FD400;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.9);
}

/*Check out Button*/
#navbar-checkout{
	background: #299617;
	color: #1B1B1B;
	padding: 10px 10px 10px 10px;
	margin-left: 4px;
	transition: 0.3s;
}
#navbar-checkout:hover{
	background: #FFD12A;
	border: 1px solid #E936A7;
	color: black;
}

/*---End of Navbar-----------------------------------*/

/* Section 1 LANDING PAGE*/
.sec1 {
	background: url(../images/bg7.jpg);
	background-size: cover;
	background-position: center;
	background-color: black;
	bottom: 10px;
	color: white;
}
.sec1-row1{
	align-items: center;
	text-align: center;	
	text-shadow: 0.7px 1px black;
}
.sec1-row1 > h1{
	padding: 50vh 0 2vh 0;
	margin-bottom: 10px;
	font-size: 60px;
}
.sec1-row2{
	text-shadow: 0.7px 2px black;
}
.sec1-row2 > p{
	padding: 0 0 0 0;
	margin: 10px 0 30px 0;
	font-size: 20px;
	align-items: center;
	text-align: center;	
}

/* Section 2  ABOUT PAGE*/
.sec2{
	padding-bottom: 20px;
}
.sec2-row1{
	align-items: center;
	text-align: center;
	position: flex;
	flex-direction: column;
	margin-bottom: 30px;
}
.sec2-row1 h1{
	margin-top: 10vh;
}
.sec2-carousel{
	display: flex;
	justify-content:center;
	align-items: center;
	position: relative;
}
/*Carousel Start*/
.sec2-carousel1{
	width:350px;
	box-shadow: 0 0 10px black;
}
/*Carousel End*/

.sec2-prodname {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px auto;
	padding-top: 30px;
	text-align: center;

}

.sec2-proddescription p {
	text-indent:40px;
	text-align: justify;
}
.sec2-proddescription h2 {
	text-indent:40px;
	text-align: center;
	padding-top: 20px;
}
.sec2-proddescription > p strong{
	color: #FF00CC;
	font-size: 16px;
	font-weight: bold;
}
.sec2-proddescription > p strong:nth-child(2){
	color: #0048BA;
}
.sec2-proddescription > p strong:nth-child(3){
	color: #C46210;
}
.sec2-proddescription > p strong:nth-child(4){
	color: #9C2542;
}
.sec2-proddescription > p strong:nth-child(5){
	color: #253529;
}
.sec2-proddescription > p strong:nth-child(6){
	color: #933709;
}
.sec2-proddescription > hr{
	border: 0.5px solid black;
}
.sec2-proddescription h2{
	font-size: 20px;
	justify-content: center;
}
.sec2-proddescription h2 > strong{
	color: #FD0E35;
	font-size: 37px;
}

.sec2-button{
	text-align: center;
	margin:60px 0 30px 0;
}

/*Section 2 button*/
.btn-buynow{
	padding: 20px 40px 20px 40px;
	background: #299617;
	border-style: none;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
/*	transition: 0.1s;*/
	animation-name: buynow;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;

}
@keyframes buynow{
	50% {
		background-color: red;
		color: white;
	}
}

.btn-buynow:hover{
	background: #C62D42;
}


/* Section 3 FEATURES */
.sec3 {
background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, 
	rgba(29,4,4,1) 34%, 
	rgba(26,2,27,1) 60%, 
	rgba(2,2,45,1) 83%, 
	rgba(0,48,1,1) 100%);
}

.sec3-row1{
	font-size: 40px;
	color: white;
	text-align: justify;
}
.sec3-row1 h1 {
	margin: 8vh 0 15vh 0;
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 8px;
	font-size: 60px;
	animation-name: featurescolor;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
/*@keyframes featurescolor{
	25% { text-shadow:1px 1px 9px #E92EFB,
					-1px -1px 9px #E92EFB,
					-1px 1px 9px #E92EFB,
					1px -1px 9px #E92EFB;
	}
	50% {
		 text-shadow:4px 4px 9px #FF2079,
					-4px -4px 9px #FF2079,
					-4px 4px 9px #FF2079,
					4px -4px 9px #FF2079,
					1px 1px 9px #E92EFB,
					-1px -1px 9px #E92EFB,
					-1px 1px 9px #E92EFB,
					1px -1px 9px #E92EFB;
	}
	75% {
		text-shadow:7px 7px 9px #440BD4,
					-7px -7px 9px #440BD4,
					-7px 7px 9px #440BD4,
					7px -7px 9px #440BD4,
					4px 4px 9px #FF2079,
					-4px -4px 9px #FF2079,
					-4px 4px 9px #FF2079,
					4px -4px 9px #FF2079,
					1px 1px 9px #E92EFB,
					-1px -1px 9px #E92EFB,
					-1px 1px 9px #E92EFB,
					1px -1px 9px #E92EFB;
	}	
	100% {text-shadow:10px 10px 9px #04005E,
					-10px -10px 9px #04005E,
					-10px 10px 9px #04005E,
					10px -10px 9px #04005E,
					7px 7px 9px #440BD4,
					-7px -7px 9px #440BD4,
					-7px 7px 9px #440BD4,
					7px -7px 9px #440BD4,
					4px 4px 9px #FF2079,
					-4px -4px 9px #FF2079,
					-4px 4px 9px #FF2079,
					4px -4px 9px #FF2079,
					1px 1px 9px #E92EFB,
					-1px -1px 9px #E92EFB,
					-1px 1px 9px #E92EFB,
					1px -1px 9px #E92EFB;
	}								
}*/
.sec3-icon {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 5px 3px 10px 3px;
}
.sec3-row2{
	padding-bottom: 20vh;
}
.sec3-row2 i{
	font-size: 50px;
	padding:30px;
	border-radius: 50%;
	background: none;
	color: gray;
	transition: 0.5s;
}
.sec3-row2 i:hover{
	text-shadow:1px 1px 9px rgba(255, 172, 252, 1),
				-1px -1px 9px rgba(255, 172, 252, 1),
				-1px 1px 9px rgba(255, 172, 252, 1),
				1px -1px 9px rgba(255, 172, 252, 1),
				4px 4px 9px #F138FB,
				-4px -4px 9px #F138FB,
				-4px 4px 9px #F138FB,
				4px -4px 9px #F138FB,
				7px 7px 9px #7122FA,
				-7px -7px 9px #7122FA,
				-7px 7px 9px #7122FA,
				7px -7px 9px #7122FA,
				10px 10px 9px #560A86,
				-10px -10px 9px #560A86,
				-10px 10px 9px #560A86,
				10px -10px 9px #560A86
				;					
	color:#FFF;			
}
.sec3-supported img{
	width: 500px;
}



.sec3-img{
	width: 	300px;
}


/*Section 4*/
.sec4{
	color: black;
	background-color: rgb(255,255,255);	
	margin-bottom: 10vh;
}
.sec4-row1{
	padding: 95px 0 20px 0; 
}
.sec4-intro h1{
	font-size: 35px;
	font-family: 'Ubuntu Condensed', sans-serif;
}

/*Reviews inside Carousel 2*/
.sec4-review-pic h3{
	font-size: 26px;
	font-family: 'Nanum Gothic', sans-serif;
}
.sec4-review-pic p{
	font-size: 15px;
	font-family: 'Nanum Gothic', sans-serif;	
}
.sec4-review-pic img{
	width: 75px;
	border-radius: 50%;
}
/* END Reviews inside Carousel 2*/


/*Section 5*/
.sec5{
	background: rgb(0,0,0);
	background: radial-gradient(circle, 
				rgba(0,0,0,1) 0%, 
				rgba(17,17,17,1) 0%, 
				rgba(0,0,0,1) 21%); 
	color: white;
	padding: 30px 0 20px 0;
}
.sec5-info h1 {
	font-size: 20px;
	border-bottom: 0.1px solid gray;
}
.sec5-info p {
	font-family: 'Merriweather', serif;
	font-size: 11px;
}
.sec5-row1 ul{
	list-style-type:none;
}
.sec5-row1 ul li a{
	text-decoration:none;
	font-family: 'Merriweather', serif;
	font-size: 11px;
	color: white;
}
.sec5-row1 ul li a:hover{
	border-bottom: 0.5px solid gray;
}
.sec5-row2 p{
	margin-bottom: 3px;
}
.sec5-location {
	text-decoration: none;
	font-family: 'Merriweather', serif;

}
/* LINK - learn more */
.sec5-row3 p a{
	text-decoration:none;
	font-size: 12px;
	color:#00468C;
}
.sec5-row3 p a:hover{
	border-bottom: 0.5px solid #4570E6;
}
.sec5-form input {
	margin-bottom: 5px;
	border-style: none;
	border-radius: 3%;
	padding: 0 -30px;
	background-color: white;
	border:0.5px solid blue;
}
.sign-up {
	background: white;
	border-radius: 6%;
	height: 20px;
	font-size: 12px;
	border-style: none;
}
.sign-up:hover{
	background: #9cc2ff;
}
/*SECTION 6 DISCLAIMER*/
.sec6{
	background: rgb(0,212,255);
background: linear-gradient(90deg, 
	rgba(20,2,102,1) 0%, 
	rgba(2,2,23,1) 35%, 
	rgba(2,0,36,1) 100%);
}
.sec6 > div p{
	font-size: 12px;
	text-align: right;
	color: white;
	padding-bottom:5px;
	margin: 0;
}